<%= flash[:notice] %>

<h1>Books</h1>

<% @books.each do |list| %>
    <strong>Title</strong>
    <%= list.title%>
    <strong>Body</strong>
    <%= list.body%>
    
    <%= link_to "Show", book_path(@books.ids) %>
    <%= link_to "Edit", edit_book_path(@books.ids) %>
    <%= link_to "Destroy", book_path(@books.ids), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>

<h2>New book</h2>
<% if @book.errors.any? %>
    <% if @book.errors.count == 1 %>
        <%= @book.errors.count %> error prohibited this book from being saved:
    <% else %>
        <%= @book.errors.count %> errors prohibited this book from being saved:
    <% end %>
    <ul>
        <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @book do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Body</h4>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
<% end %>